h1 {
    color: black;
}

#date {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

#exerciseList {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

#exerciseList li {
    margin-bottom: 5px;
    font-weight: 500;
}

/* Space between different exercises */
.exercise-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Space between each set within an exercise */
.set {
    margin-top: 10px;
}

/* Space between "Set X" label and inputs */
.set-label {
    display: inline-block;
    width: 60px;
    margin-right: 10px;
}

/* Optional spacing between input fields */
.set input {
    margin-right: 10px;
}

#grandTotal {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  #exerciseInputGroup {
    margin-top: 10px;
  }

  #dateKeeper {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  #date {
    margin: 0;            /* Remove default <p> margin */
  }

  #switchGroup {
    display: flex;
    align-items: center;
  }

  #switchButton {
    display: flex;
    width: 50px;
    height: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }